
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 21px;
}
:root{
    --white:#fafafa;
    --grey-white:#ececec;
    --black:#191919;
    --orange:#d87c49;
    --font:"Roboto",sans-serif;
    --font2:"Montserrat",sans-serif;
    --bold-font:700;
    --light-font:100;
    --medium-font:500;
}
.header{
    background-color: var(--black);
    height:100vh;
}
.sidebar{
    color: #191919;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 250px;
    gap: 1em;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    padding: 0em 2em;
    z-index: 999;
    background-color:#d87b4987;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
}
.sidebar a{
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
}
.sidebar a:after{
   content: "";
   position:absolute;
   background-color:var(--black);
   height: 2.5px;
   width:0;
   right: 0%;
   transition: 0.4s ease;
}
.sidebar a:hover{
    color:black;
}
.close{
    color: var(--white);
    margin-top: 2em;
}
header li {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--white); 
}
header p{
    margin-top: 2.7em;
    font-family: var(--font2);
    font-size: 0.6rem;
    font-weight: var(--medium-font);
}
header a{
    text-decoration: none;
    color: var(--white);
}
header li a:hover{
    color:var(--orange);
}
hr{
    width: 87%;
}
.menu{
    display: none;
}
.logo{
    font-size: 1.2rem;
    font-family:var(--font);
    flex: none; 
    position: absolute;
    left: 0%;
    margin-left: 4em;
}
.cart img{
     width: 25px;
     height: 20px;
     flex: none; 
     position: absolute;
     right: 0%;
     margin-right: 5em;
     margin-top: 1.5em; 
}
.container-1{
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin-top: 4em;
}
.content{
    color: #ececec;
    width: 50%;
    max-width: 340px;
    margin-top: 2em;
}
.content h6{
    font-weight:var(--light-font);
    font-family: var(--font2);
}
.content h1{
    font-family: var(--font);
}
.content p{
    margin-top: 5px;
    font-family: var(--font2);
}
.button{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ececec;
    font-weight: 800;
    background-color:var(--orange);
    padding: .6em .8em;
    font-size: .7em;
}
.button:hover{
    background-color: #c34805f1;
}
.button-b{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ececec;
    font-weight: 800;
    background-color: var(--black);
    padding: .6em .8em;
    font-size: .7em;
}
.button-b:hover{
    background-color: #191919b4;
}
.button-c{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color:var(--black);
    font-weight: 800;
    background-color: var(--grey-white);
    border: 1px solid #191919;
    padding: .6em .8em;
    font-size: .7em;
}
.button-c:hover{
    border: 2px solid #d87c49;
}
 .content-image{
    max-width: 500px;
    background: radial-gradient(circle at center, rgba(215, 243, 255, 0.15), var(--black) 68%); 
} 
.content-image img{
    height:400px;
    max-width: 400px;
}
.section1{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 6em;
}
.section1 a{
    text-decoration: none;
    color:var(--black);
}
.section1 a:hover{
    color:var(--orange); 
 }
.col-headphones{
    position: relative;
    background-color: var(--grey-white);
    padding: 4em 7em;
    font-family: var(--font);
    font-weight: 400;
    font-size: .7rem;
    border-radius: 4px;
}
.col-speakers{
    position: relative;
    background-color: var(--grey-white);
    padding: 4em 8em;
    font-family: var(--font);
    font-weight: 400;
    font-size: .7rem;
    border-radius: 4px;
}
.col-earphones{
    position: relative;
    background-color: var(--grey-white);
    padding: 4em 7em;
    font-family: var(--font);
    font-weight: 400;
    font-size: .7rem;
    border-radius: 4px;
}
.col-titles{
    font-family: var(--font2);
    font-weight: 650;
    font-size: .9rem
}
.image-float {
    position:absolute;
    width:180px;
    height:180px;
    z-index: 2;
    bottom: 60%;
    right: 21%;   
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color:var(--orange);
    color: var(--white);
    font-family: var(--font2);
    padding: 3em 2em;
    max-width: 1044px; 
    margin: auto;
    border-radius: 8px;
    margin-top: 5em;
}
.section2 img{
    width: 350px;
    height: 350px; 
}
.imagecontent{
    width: 50%;
    max-width: 260px;
}
.imagecontent p{
    font-size: .8em;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color:var(--grey-white);
    color: var(--black);
    font-family: var(--font2);
    padding: 3em 2em;
    max-width: 1044px; 
    margin: auto;
    border-radius: 8px;
    margin-top: 2em;
}
.section3 img{
    width: 350px;
    height: 250px; 
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--black);
    font-family: var(--font2);
    padding: 3em 2em;
    max-width: 844px; 
    margin: auto;
    border-radius: 8px;
    margin-top: 2em;
}
.section4 img{
    max-width: 350px;
    height: 350px; 
}
.imagecontainer{
    background-color: #191919;
    padding: 0em 3em;
    border-radius: 4px;
}
.sectioncontent{
    background-color: var(--grey-white);
    padding: 4.5em 6em;
    border-radius: 4px;
}
.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    color: var(--black);
    font-family: var(--font2);
    padding: 3em 2em;
    max-width: 1044px; 
    margin: auto;
    border-radius: 8px;
    margin-top: 2em;
}
.section5 p{
    font-size: .7rem;
}
.listener img{
    width: 350px;
    height: 450px; 
    border-radius: 4px;
}
.listenercontent{
    max-width: 300px;
}
.highlight{
   color: var(--orange);
}
.footer{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    gap: 7em;
    padding:2em 4em ;

}
.footer1{
    max-width: 650px;
    font-family: var(--font);
}
.footer1 p{
    font-size: .6rem;
    font-weight:250;
    font-family: var(--font2);
}
.footer2 li{
    display: flex;
    gap: 20px;
    font-family: var(--font2);
    font-size: .7rem;
    margin-left: 30px;
}
.cart-title{
    display: flex;
    justify-content: center;
    gap: 11em;
    font-size: .7rem;
    font-weight: 600;
    font-family: var(--font2);
}
.order-summary{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2em;
    font-family: var(--font2);
    font-size: .8rem;
}
.cart-box{
    position: fixed;
    max-width: 340px;
    background-color: var(--white);
    font-family:var(--font2);
    border-radius: 6px;
    padding: 1em;
    margin-right:2em;
    margin-top:4em;
    display: none;
    z-index: 1000;
    right: 0;
    top: 0;
    
}
.cart-box img{
    max-width: 50px;
    background-color:var(--grey-white);
    border-radius: 4px;
}
.separate{
    line-height: .01em;
}
.total-summary{
    margin-top:.3em ;
    display: flex;
    justify-content: center;
    gap: 8rem;
    font-family: var(--font2);
    font-size: .7em;
    font-weight: 500;
}
.button{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ececec;
    font-weight: 800;
    background-color:var(--orange);
    padding: .6em 6em;
    font-size: .7em;
}
.button:hover{
    background-color:  #c34805f1;
}
.button-m{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-sum{
    background-color: var(--grey-white);
    display: flex;
    gap: 1em;
    justify-content: space-between; 
    align-items: center; 
    height: 30px; 
}
.cart-sum img {
    width: 20px;
    height: 20px;
}
















@media (max-width:1200px) {
    .col-earphones,.col-headphones{
        padding: 4em 5em ;
    } 
    .col-speakers{
        padding: 4em 6em;
    }

}
@media (max-width:1000px){
    .section4 img{
        max-width:250px;
        height: 250px;
    }
    .sectioncontent{
        padding: 2em 3em  ;
    }
    .section2,.section3{
        max-width: 800px;
    }
    .section1{
       flex-wrap:wrap;
    }
}
@media (max-width:590px){
    .col-speakers,.col-earphones{
        margin-top: 5em;
}
}
@media (max-width:883px){
    .col-earphones{
            margin-top: 5em;
    }
    
}
@media (max-width:800px){
    .section4{
        flex-wrap: wrap;
    }
}
@media(max-width:900px){
    .header{
        height: 500px;
    }
    .hide{
        display: none;
    }
    .logo{
        margin: auto;
        margin-top: 1em;
        left: auto;
    }
    .menu{
       display: block;
       position: absolute;  
       left: 6em;
       top: 1.4em;
    }
    .container-1{
       position: relative;
       flex-direction:column-reverse;
       text-align: center;
    }
    .content{
      position: absolute;
      top: 35%;
      left: 48%;
      transform: translate(-50%, -50%);
      font-size: .7em;

    }
    .content-image {
        max-width: 700px;
        margin: auto;
    }
    .section5{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .footer{
        flex-direction: column;
        gap: 2px;
    }
    .footer li{
        margin: auto;
        flex-wrap: wrap;
    }
    .section2,.section3{
        flex-direction: column;
    }
    .section2{
        padding: 2em 2em;
        gap: 4px;
        margin-top: 1em;
    }
@media (max-width:500px){
    .menu{
        left: 3em;
    }
}    
}