
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 21px;
}
:root{
    --white:#fafafa;
    --grey-white:#ececec;
    --black:#191919;
    --orange:#d87c49;
    --font:"Roboto",sans-serif;
    --font2:"Montserrat",sans-serif;
    --bold-font:700;
    --light-font:100;
    --medium-font:500;
}
header{
    background-color: var(--black);
    height:70px;
}
.sidebar{
    color: #191919;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 250px;
    gap: 2em;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    padding: 0em 2em;
    z-index: 999;
    background-color:#d87b4987;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
}
.sidebar a{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    font-family: var(--font2);
    font-size: .6em;
}
.sidebar a:hover{
    color:black;
}
.close{
    color: var(--white);
    margin-top: 2em;
}
header li {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--white); 
}
header p{
    margin-top: 2.7em;
    font-family: var(--font2);
    font-size: 0.6rem;
    font-weight: var(--medium-font);
}
header a{
    text-decoration: none;
    color: var(--white);
}
header li a:hover{
    color:var(--orange);
}
.menu{
    display: none;
}
.logo{
    font-size: 1.2rem;
    font-family:var(--font);
    flex: none; 
    position: absolute;
    left: 0%;
    margin-left: 4em;
}
.cart img{
     width: 30px;
     height: 20px;
     flex: none; 
     position: absolute;
     right: 0%;
     margin-right: 5em;
     margin-top: 1.5em; 
}
.button{
    display: inline-block;
    text-decoration: none;
    color:var(--white);
    font-weight: 800;
    background-color:var(--orange);
    padding: .6em .7em;
    font-size: .5em;
}
.button-intro{
    text-decoration: none;
    color:var(--white);
    font-weight: 800;
    background-color:var(--orange);
    height: 50px;
    font-size: .3em;
    padding: 0 2em;
}
.button-intro:hover{
    background-color: #c34805f1;
}
.product-overview{
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
}
.product-overview img{
    max-width: 300px;
    height: 300px;
}
.image-photo{
    max-width: 500px; 
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-white);
    border-radius: 4px;
}
.product-description{
    max-width: 350px;
    font-family: var(--font2);
}
.product-overview p{
    font-weight: 10px;
    font-size: .7rem;
}
.cart-sum{
    background-color: var(--grey-white);
    display: flex;
    gap: 1em;
    justify-content: space-between; 
    align-items: center; 
    height: 50px;
    padding: 0 2em;
}
.cartsum{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 50px;
}
.cart-sum img {
    width: 20px;
    height: 20px;
}
.features-box{
    display: flex;
    gap: 3em;
    font-family:var(--font2);
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.features{
    display: flex;
    flex-direction: column;
    max-width: 590px;
} 
.features p{
    font-size: .7rem;
}
.features h2{
    font-size: 1rem;
    font-family: var(--font2);
}
.inbox h2{
    font-size: 1rem;
    font-family: var(--font2);
}
.inbox p{
    font-size: .7rem;
    color: var(--orange);
    font-weight: 550;
}
.product-market{
    margin-top: 2em !important;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: .2em;
    margin: auto;
    align-items: center; 
    justify-items: center;
    max-width: 860px;
}
.grid-row-span-2{
    grid-row:span 2;
}
.image{
    border-radius: 6px;
    max-width:400px ; 
    max-height: 400px; 
}
.image-row2{
    max-width:660px ; 
    border-radius: 6px;
    height: 550px; 
}
.like{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font2);
    font-size: .8rem;
    margin-top: 2em;
}
.like-photos img{
    max-width: 280px;
}
.like-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8em;
}
.description1,.description2,.description3{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.image-background{
    background-color: var(--grey-white);
    border-radius: 6px;
}
.button{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ececec;
    font-weight: 800;
    background-color:var(--orange);
    padding: .6em .8em;
    font-size: .7em;
}
.button:hover{
    background-color: #c34805f1;
}
.description-like-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
}
.page-search{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 8em;
}
.page-search a{
    text-decoration: none;
    color:var(--black);
}
.page-search a:hover{
    color:var(--orange); 
 }
.col-headphones{
    position: relative;
    background-color: var(--grey-white);
    padding: 4em 5em;
    font-family: var(--font);
    font-weight: 400;
    font-size: .7rem;
    border-radius: 4px;
}
.col-speakers{
    position: relative;
    background-color: var(--grey-white);
    padding: 4em 6em;
    font-family: var(--font);
    font-weight: 400;
    font-size: .7rem;
    border-radius: 4px;
}
.col-earphones{
    position: relative;
    background-color: var(--grey-white);
    padding: 4em 5em;
    font-family: var(--font);
    font-weight: 400;
    font-size: .7rem;
    border-radius: 4px;
}
.col-titles{
    font-family: var(--font2);
    font-weight: 650;
    font-size: .9rem
}
.image-float {
    position:absolute;
    max-width:220px;
    height:180px;
    z-index: 2;
    bottom: 60%;
    right: 15%;   
}.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    color: var(--black);
    font-family: var(--font2);
    padding: 3em 2em;
    max-width: 1044px; 
    margin: auto;
    border-radius: 8px;
    margin-top: 2em;
}
.section5 p{
    font-size: .7rem;
}
.listener img{
    width: 430px;
    height: 400px; 
    border-radius: 4px;
}
.listenercontent{
    max-width: 300px;
}
.highlight{
   color: var(--orange);
}
.footer{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    gap: 7em;
    padding:2em 4em ;

}
.footer1{
    max-width: 650px;
    font-family: var(--font);
}
.footer1 p{
    font-size: .6rem;
    font-weight:250;
    font-family: var(--font2);
}
.footer2 li{
    display: flex;
    gap: 20px;
    font-family: var(--font2);
    font-size: .7rem;
    margin-left: 30px;
}
.cart-title{
    display: flex;
    justify-content: center;
    gap: 11em;
    font-size: .7rem;
    font-weight: 600;
    font-family: var(--font2);
}
.order-summary{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2em;
    font-family: var(--font2);
    font-size: .8rem;
}
.cart-box{
    position: fixed;
    max-width: 390px;
    background-color: var(--white);
    font-family:var(--font2);
    border-radius: 6px;
    padding: 1em;
    margin-right:2em;
    margin-top:4em;
    display: none;
    z-index: 1000;
    right: 0;
    top: 0;
    box-shadow:0px 0px 1px 1px;

    
}
.cart-box img{
    max-width: 50px;
    background-color:var(--grey-white);
    border-radius: 4px;
}
.separate{
    line-height: .01em;
}
.total-summary{
    margin-top:.3em ;
    display: flex;
    justify-content: center;
    gap: 8rem;
    font-family: var(--font2);
    font-size: .7em;
    font-weight: 500;
}
.button{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ececec;
    font-weight: 800;
    background-color:var(--orange);
    padding: .6em 6em;
    font-size: .7em;
}
.button:hover{
    background-color:  #c34805f1;
}
.button-m{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-sum{
    background-color: var(--grey-white);
    display: flex;
    gap: 1em;
    justify-content: space-between; 
    align-items: center; 
    height: 30px; 
}
.cart-sum img {
    width: 20px;
    height: 20px;
}
.loader{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 50px;
    height: 50px;
    border:15px solid var(--black);
    border-top-color:var(--orange) ;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}









@media(max-width:900px){
    .hide{
        display: none;
    }
    .logo{
        margin: auto;
        margin-top: 1em;
        left: auto;
    }
    .menu{
       display: block;
       position: absolute;  
       left: 6em;
       top: 1.4em;
    }
    .footer{
        flex-direction: column;
        gap: 2px;
    }
    .footer li{
        margin: auto;
        flex-wrap: wrap;
    }
    .product-overview,.features-box,.like-photos,.page-search{
        flex-wrap: wrap;
    }
    .section5{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 50px;
    }
    .col-earphones,.col-headphones,.col-speakers{
        margin-top: 6em;
    }
    .product-market{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .product-market img{
        width: 290px;
        height: 250px;
    }
    .features{
        max-width:300px;
    }
}
@media (max-width:500px){
    .menu{
        left: 4em;
    }
}